.nav-link{
    font-size: 16px;
}
.navbar-brand{
    margin: auto;
    padding: 3px;
}
.navbar-text{
    font-size: 18px;
}
body{
    background-image: url("Images/lb.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.image-container{
    margin-top: 100px;
}
.text-container{
    background-color: #FFFFFF;
    text-align: center;
    opacity: 90%;
    position: relative;
    width: 20%;
    margin:auto;
    
}
.begin-button{
    text-align: center;
    position: relative;
    width: 8%;
    margin:auto;
    margin-top: 20px;
    
}
footer{
    border-style: outset;
    border-color: #FFFFFF;
    background-color: #F5F5F5;
    margin-top: 497px;
}
footer .footer-text{
    font-size: 14px;
    color: #000000;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .navbar-nav{
        text-align: center;
        margin: auto;
    }
    .navbar-brand{
        padding: 0px;
        margin: 0%;
    }
    .text-container{
        width: 50%;
    }
    .begin-button{
        margin-top: 3px;
        width: 50%;
    }
    footer{
        margin-top: 379px;
    }
    
}